*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #1F2937;
}

::selection{
    background-color: #F97316;
    color: white;
}

.logo a{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2rem;
    color: #20C997;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: #1F2937;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 20px;
}

.menu li{
    position: relative;
}

.menu a{
    text-decoration: none;
    color: #E2E8F0;
    padding: 8px 10px;
    display: block;
    border: 2px solid transparent;
}

.menu a:hover{
    border-color: #dee2e6; 
    border-radius: 5px;
}

.dropdown-content{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    min-width: 150px;
    overflow: hidden;
    border-radius: 5px;
}

.dropdown-content li{
    background-color: #1F2937;
}

.dropdown-content a{
    color: #fff;
    border: 1px solid transparent;
}

.dropdown-content a:hover{
    border: 1px solid transparent;
    background-color: #343a40;
    color: #E2E8F0;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.nav-right{
    display: flex;
    padding: 10px;
    gap: 5px;
}

.search-form{
    border: 2px solid #878686;
    border-radius: 5px;
    height: 32px;
    background-color: #495057;
    color: #fff;
    outline: none;
    padding: 12px;
}

.search-form:hover{
    border-color: #ced4da;
}

.search-form:hover::placeholder{
    color: #ced4da;
}

.search-form:focus{
    border-color: #20C997;
}

.search-form:focus::placeholder{

    color: #20C997;
}

.submit{
    padding: 6px 8px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #20C997;
    background-color: #20C997;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn{
    padding: 6px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #20C997;
    border: 1px solid #20C997;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.hero-container{
    background-image: url('Asset/Hero-bg.webp');
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hero-text-container{
    padding: 8px 8px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.hero-heading{
    font-size: 3rem;
    padding: 10px 15px;
    margin: 8px 15px;
    color: #10B981;
}

.hero-info{
    font-size: 1.4rem;
    padding: 10px 15px;
    margin: 8px 15px;
    color: #4B5563;
}

.hero-btn-container{
    padding: 10px 15px;
    margin: 8px 15px;
    text-align: start;
}

.hero-btn-container button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.explore-btn{
    background-color: #10B981;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent;
    font-size: 16px;
    border-radius: 5px;
}

.hero-login-btn{
    color: #10B981;
    background-color: transparent;
    border-color: #10B981;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #20C997;
}

.explore-btn:hover{
    background-color: #059669;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(16, 185, 129, 0.3);
}

.hero-login-btn:hover {
    background-color: #059669;
    border-color: 059669;
    color: white;
    transform: translateY(-3px);
    transistion: 0.3s ease-in;
    box-shadow: 0 10px 20px rgba(16, 185, 129, 0.3);
}

/* Job categories */

.job-categories-container{
    text-align: center;
    padding: 15px 18px;
    margin: 20px 10px;
}

.career-text-container{
    margin: 5px 8px;
    max-width: 600px;
}

.job-categories-heading{
    color: #10B981;
    font-size: 3rem;
    margin: 8px;
    font-weight: 700;
}

.job-categories-info{
    color: #878686;
    font-size: 1rem;
    margin: 8px;
    font-weight: 300;
}

.job-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.job-card{
    width: 300px;     
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
}

.job-card-text-container{
    padding: 10px;
    margin: 8px;
}

.job-heading{
    color: #10B981;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 8px;
}

.job-info{
    font-size: 12px;
    font-weight: bold;
    color: #343a40;
    margin: 4px 8px;
    padding: 8px;
}

.more-btn{
    background-color: #10B981;
    color: #fff;
    font-weight: bold;
    border: 3px solid transparent;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.more-btn:hover{
    color: #10B981;
    background-color: transparent;
    border-color: #10B981;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    border: 3px solid #20C997;
}

.job-card-img{
    width: 300px;
    height: 180px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #1F2937;
}

/* footer */

.footer-container{
    background-color: #181f29;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-about{
    padding: 8px 10px;
    margin: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-about p{
    padding: 8px;
    margin: 5px;
    color: #E2E8F0;

}

.footer-container h3{
    color: #20C997;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin: 5px;
}

.footer-links, 
.footer-social{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-left: 2px solid #4B5563;

}

.footer-links a, 
.footer-social a{
    color: #E2E8F0;
    text-decoration: none;
    padding: 8px;
    margin: 5px;
}

.footer-bottom{
    background-color: #181f29;
    color: #E2E8F0;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #4B5563;

}
